.nav-link
{
    /* color: black !important; */
}

.nav-link:hover
{
    background:pink;
    border-radius: 5px;
}
.carousel-control-prev-icon
{
    background-color: black;
}
.carousel-control-next-icon
{
    background-color: black;
}
.footer-widget
{
    font-family: sans-serif;
    position: relative;
    font-weight: 400;
    font-size: 15px;
}
.body
{
    position: relative;
}
html,body{
overflow-x: hidden;
}
.footerlink li a
{
    color: black;  
}
.footerlink li a:hover
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 2px; 
}
.icons 
{
    font-size: 30px;
    margin: 10px 0px;

}
.icons:first-child
{
    margin-top: 0;

}
.icons a:hover
{
    color:orange;
}
.icons a
{
 color: aliceblue;
}
.fa-search
{
    color: darkred;
}



@media screen and (min-width:70px) and (max-width:792px) 
{
    .search
    {
      display: none;
    }
    .navbar-toggler
    {
        float: right;
        margin-left: 100px;
    }
    
}   
@media screen and (min-width:70px) and (max-width:1400px) 
{
   .carousel-inner
   {
    margin-top: 100px;
   }
}
@media screen and (min-width:768px) and (max-width:992px)
{

    
}
